.Content h1{
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #da0f0b;
    text-transform: none;
    text-shadow: none;
    text-align: center;

}
.Cube {
    font-size:3rem;
    color: chocolate;
    text-align:left;
     }
     h2{
         text-align: left;
         font-weight: bold;
     }