.App {
  width: 100%;
  background-color:blueviolet;
  padding: 50px ;
  
}
.Content {
  display: table;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 30px;
  margin-top: 3%;
}